In [5]:
import pandas as pd
import censusdata
from tabulate import tabulate

Datasets

1. Crime dataset (2001 to current) - very large, not imported yet (7 million rows)
2. Police station locations
3. Fire station locations
4. List of public schools (as of 2019) (2016-17 data also available)
5. List of Parks maintained by Chicago Park district
6. List of all licensed commercial establishments
7. Police killings in Chicago (Doesn't have lat long, only zipcodes)

# Chicago police district station locations

In [33]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("z8bn-74gv", limit=2000)

# Convert to pandas DataFrame
police_stations = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [48]:
police_stations['lat'] = ''
police_stations['long'] = ''


for i in range(0,len(police_stations)):
    police_stations['lat'].iloc[i] = police_stations['location'].iloc[i]['latitude']
    police_stations['long'].iloc[i] = police_stations['location'].iloc[i]['longitude']
    

    
police_stations = police_stations[['district','district_name','zip','location','lat','long']]
police_stations

,district,district_name,zip,location,lat,long
0,Headquarters,Headquarters,60653,"{'latitude': '41.8307016873', 'longitude': '-8...",41.8307016873,-87.6233953459
1,18,Near North,60610,"{'latitude': '41.9032416531', 'longitude': '-8...",41.9032416531,-87.6433521393
2,19,Town Hall,60613,"{'latitude': '41.9474004564', 'longitude': '-8...",41.9474004564,-87.651512018
3,20,Lincoln,60625,"{'latitude': '41.9795495131', 'longitude': '-8...",41.9795495131,-87.6928445094
4,22,Morgan Park,60643,"{'latitude': '41.6914347795', 'longitude': '-8...",41.6914347795,-87.6685203937
5,24,Rogers Park,60626,"{'latitude': '41.9997634842', 'longitude': '-8...",41.9997634842,-87.6713242922
6,25,Grand Central,60639,"{'latitude': '41.9186088912', 'longitude': '-8...",41.9186088912,-87.765574479
7,1,Central,60616,"{'latitude': '41.8583725929', 'longitude': '-8...",41.8583725929,-87.627356171
8,2,Wentworth,60609,"{'latitude': '41.8018110912', 'longitude': '-8...",41.8018110912,-87.6305601801
9,3,Grand Crossing,60637,"{'latitude': '41.7664308925', 'longitude': '-8...",41.7664308925,-87.6057478606
10,4,South Chicago,60617,"{'latitude': '41.7079332906', 'longitude': '-8...",41.7079332906,-87.5683491228
11,5,Calumet,60628,"{'latitude': '41.6927233639', 'longitude': '-8...",41.6927233639,-87.6045058667
12,6,Gresham,60620,"{'latitude': '41.7521368378', 'longitude': '-8...",41.7521368378,-87.6442289066
13,7,Englewood,60636,"{'latitude': '41.7796315359', 'longitude': '-8...",41.7796315359,-87.6608870173
14,8,Chicago Lawn,60629,"{'latitude': '41.778987189', 'longitude': '-87...",41.778987189,-87.7088638153
15,9,Deering,60608,"{'latitude': '41.8373944311', 'longitude': '-8...",41.8373944311,-87.6464077068
16,10,Ogden,60623,"{'latitude': '41.8566845327', 'longitude': '-8...",41.8566845327,-87.708381958
17,11,Harrison,60612,"{'latitude': '41.8735822883', 'longitude': '-8...",41.8735822883,-87.705488126
18,12,Near West,60608,"{'latitude': '41.8629766244', 'longitude': '-8...",41.8629766244,-87.6569725149
19,14,Shakespeare,60647,"{'latitude': '41.9211033246', 'longitude': '-8...",41.9211033246,-87.6974518223
20,15,Austin,60644,"{'latitude': '41.8800834614', 'longitude': '-8...",41.8800834614,-87.768199889
21,16,Jefferson Park,60630,"{'latitude': '41.9740944511', 'longitude': '-8...",41.9740944511,-87.7661488432
22,17,Albany Park,60630,"{'latitude': '41.9660534171', 'longitude': '-8...",41.9660534171,-87.728114561

# Fire station locations

In [51]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("28km-gtjn", limit=2000)

# Convert to pandas DataFrame
fire_stations_locations = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [52]:
fire_stations_locations['lat'] = ''
fire_stations_locations['long'] = ''


for i in range(0,len(fire_stations_locations)):
    fire_stations_locations['lat'].iloc[i] = fire_stations_locations['location'].iloc[i]['latitude']
    fire_stations_locations['long'].iloc[i] = fire_stations_locations['location'].iloc[i]['longitude']
    

    
fire_stations_locations = fire_stations_locations[['name','address','zip','location','lat','long']]
fire_stations_locations

,name,address,zip,location,lat,long
0,E5,324 S DESPLAINES ST,60661,"{'latitude': '41.877028304420755', 'longitude'...",41.877028304420755,-87.64430865193455
1,E11,5343 N CUMBERLAND AVE,60656,"{'latitude': '41.97685625348317', 'longitude':...",41.97685625348317,-87.836495886321
2,E81,10458 S HOXIE AVE,60617,"{'latitude': '41.705334319654064', 'longitude'...",41.705334319654064,-87.56088524816063
3,E22,605 W ARMITAGE AVE,60614,"{'latitude': '41.91792047709303', 'longitude':...",41.91792047709303,-87.64396690956342
4,E50,5000 S UNION AVE,60609,"{'latitude': '41.80344788181221', 'longitude':...",41.80344788181221,-87.64299386409898
...,...,...,...,...,...,...
87,E19,3421 S CALUMET AVE,60616,"{'latitude': '41.83227804024279', 'longitude':...",41.83227804024279,-87.61779663851078
88,E26,10 N LEAVITT ST,60612,"{'latitude': '41.88151592134697', 'longitude':...",41.88151592134697,-87.68185534665783
89,E82,817 E 91ST ST,60619,"{'latitude': '41.72933327959225', 'longitude':...",41.72933327959225,-87.60425730151255
90,E34,4034 W 47TH ST,60632,"{'latitude': '41.80790024096418', 'longitude':...",41.80790024096418,-87.72485128276466
91,E79,6424 N LEHIGH AVE,60646,"{'latitude': '41.997974799017584', 'longitude'...",41.997974799017584,-87.76616159362811

# Public Schools (as of 2019)

In [64]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("tz49-n8ze", limit=2000)

# Convert to pandas DataFrame
schools = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [65]:
schools = schools.rename(columns = {'x':'long','y':'lat'})
schools = schools[['school_id','school_nm','sch_type','lat','long']]
schools

    school_id               school_nm     sch_type          lat          long
0      610587           DYETT ARTS HS  Traditional  41.80120417  -87.61223911
1      400111         LEARN - PERKINS  Traditional  41.74312177  -87.66572106
2      610568  PATHWAYS - AVONDALE HS      Options  41.93943321  -87.70520632
3      610027                 KIPLING  Traditional  41.72362691  -87.63952072
4      609712               HIRSCH HS  Traditional  41.75374796  -87.60172727
..        ...                     ...          ...          ...           ...
649    610200                 THORP J  Traditional  41.73332424  -87.54427998
650    610139                 PULLMAN  Traditional  41.68881935  -87.60943097
651    610026                  KINZIE  Traditional  41.78996463   -87.7794826
652    609844                  CARTER  Traditional  41.78982791  -87.62245275
653    400147      CAMELOT - EXCEL HS      Options  41.69196931  -87.65372654

[654 rows x 5 columns]

# Parks (maintained by Chicago Park district)

In [77]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("y7qa-tvqx", limit=5000)

# Convert to pandas DataFrame
parks = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [78]:
parks['lat'] = ''
parks['long'] = ''


for i in range(0,len(parks)):
    parks['lat'].iloc[i] = parks['location'].iloc[i]['latitude']
    parks['long'].iloc[i] = parks['location'].iloc[i]['longitude']
    

    
parks = parks[['park','park_number','location','lat','long']]
parks = parks.drop_duplicates(subset = ['park_number'])

In [79]:
parks

,park,park_number,location,lat,long
0,ABBOTT (ROBERT),259,"{'latitude': '41.72096', 'longitude': '-87.621...",41.72096,-87.621351
10,ADA (SAWYER GARRETT),45,"{'latitude': '41.687785', 'longitude': '-87.65...",41.687785,-87.655389
26,ADAMS (GEORGE & ADELE),1019,"{'latitude': '41.91689', 'longitude': '-87.655...",41.91689,-87.655092
28,AIELLO (JOHN),1280,"{'latitude': '41.919151', 'longitude': '-87.77...",41.919151,-87.776356
29,ALGONQUIN,1161,"{'latitude': '41.935202', 'longitude': '-87.69...",41.935202,-87.694918
...,...,...,...,...,...
3997,ROWAN (WILLIAM),248,"{'latitude': '41.686061', 'longitude': '-87.53...",41.686061,-87.538167
4022,RUTHERFORD SAYRE,127,"{'latitude': '41.920557', 'longitude': '-87.79...",41.920557,-87.795929
4051,SCHAEFER (EDWARD),1148,"{'latitude': '41.925746', 'longitude': '-87.66...",41.925746,-87.669035
4060,SENECA,1242,"{'latitude': '41.897006', 'longitude': '-87.62...",41.897006,-87.622414
4108,SHEIL (BERNARD) COMM. CTR.,398,"{'latitude': '41.945737', 'longitude': '-87.66...",41.945737,-87.663674

# Commerical establishments

In [89]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("uupf-x98q", limit=60000)

# Convert to pandas DataFrame
comm_est = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [95]:
comm_est.dropna(subset = ['location'], inplace = True)

comm_est['lat'] = ''
comm_est['long'] = ''

#Loop takes some time to run
for i in range(0,len(comm_est)):
    comm_est['lat'].iloc[i] = comm_est['location'].iloc[i]['latitude']
    comm_est['long'].iloc[i] = comm_est['location'].iloc[i]['longitude']
    

    
comm_est = comm_est[['zip_code','license_description','license_id','police_district','location','lat','long']]
comm_est

,zip_code,license_description,license_id,police_district,location,lat,long
0,60613,Limited Business License,2785648,NaN,"{'latitude': '41.950263533361316', 'human_addr...",41.950263533361316,-87.64943628585584
2,60657,Shared Kitchen User (Long Term),2757823,NaN,"{'latitude': '41.93595774945094', 'human_addre...",41.93595774945094,-87.66720798565429
3,60647,Tobacco,2809999,14,"{'latitude': '41.909910705082176', 'human_addr...",41.909910705082176,-87.71438551021203
4,60616,Shared Kitchen User (Long Term),2753953,9,"{'latitude': '41.84627489231545', 'human_addre...",41.84627489231545,-87.63563380347186
5,60647,Shared Kitchen User (Long Term),2749193,NaN,"{'latitude': '41.92328087256676', 'human_addre...",41.92328087256676,-87.68648711287192
...,...,...,...,...,...,...,...
54456,60611,Valet Parking Operator,2785820,18,"{'latitude': '41.89475436857259', 'human_addre...",41.89475436857259,-87.6243943466027
54457,60601,Valet Parking Operator,2791661,1,"{'latitude': '41.88637481521078', 'human_addre...",41.88637481521078,-87.6246754356595
54458,60608,Commercial Garage,2797818,12,"{'latitude': '41.85598353104698', 'human_addre...",41.85598353104698,-87.67314851164002
54459,60603,Valet Parking Operator,2802760,1,"{'latitude': '41.88066457839605', 'human_addre...",41.88066457839605,-87.6270893644417
54460,60605,Valet Parking Operator,2808011,1,"{'latitude': '41.87171754808042', 'human_addre...",41.87171754808042,-87.62431277689711

# Police Killings

In [99]:
police_deaths = pd.read_csv("police_killings_MPV.csv")

df_mask = police_deaths['City'] == "Chicago"
police_deaths = police_deaths[df_mask]
police_deaths = police_deaths[['Date of Incident (month/day/year)','City','Zipcode','Agency responsible for death','Cause of death','MPV ID']]
police_deaths

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Date of Incident (month/day/year),City,Zipcode,Agency responsible for death,Cause of death,MPV ID
1,05/09/2020,Chicago,60638.0,Chicago Police Department,Gunshot,8446
14,31/08/2020,Chicago,60608.0,Chicago Police Department,Gunshot,8438
663,09/02/2020,Chicago,60613.0,Chicago Police Department,Gunshot,7780
769,04/01/2020,Chicago,60649.0,Chicago Police Department,"Gunshot, Taser",7676
772,02/01/2020,Chicago,60639.0,Chicago Police Department,Gunshot,7670
...,...,...,...,...,...,...
7907,16/06/2013,Chicago,60623.0,Chicago Police Department,Gunshot,518
8061,05/05/2013,Chicago,60623.0,Chicago Police Department,Gunshot,370
8212,16/03/2013,Chicago,60625.0,Chicago Police Department,Gunshot,217
8221,14/03/2013,Chicago,60624.0,Chicago Police Department,Gunshot,208
8399,07/01/2013,Chicago,60649.0,Chicago Police Department,Gunshot,28

In [ ]:
# Ignore this section, was trying to selectively import the crimes dataset (still huge)

In [108]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("ijzp-q8t2", limit=200000, year = 2020)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [112]:
results_df['year'].drop_duplicates()

0    2020
Name: year, dtype: object